<%- include('header') %>

<h1>About</h1>
<p>This app uses <a href="https://github.com/terinjokes/chancejs" target="_blank">Chance.js</a> to generate random data and the <a href="https://rickandmortyapi.com/" target="_blank">Rick and Morty API</a> to search for characters.</p>

<%- include('footer') %>
